/*
 * GENERAL STUFF
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	border: 0;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	word-wrap: break-word;
	font-family: 'Myriad Set Pro', sans-serif;
	font-size: 1em;
}

body {
	font-size: 90%;
}

.content {
	width: 1094px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.content .slider {
	position: relative;
	top: 0px;
	left: 0px;
	width: 10000px;
}

.content .slider .slider-tab {
	float: left;
	width: 1114px;
}

.data {
	display: none;
}

.round {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.margin {
	margin: 10px;
}
/*
 * MASONRY GENERAL
 */
.m-item {
	width: 128px;
	margin-bottom: 10px;
	overflow: hidden;
}

.m-item.square {
	height: 128px;
}

.m-item.w2 {
	width: 266px;
}

.m-item.w4 {
	width: 542px;
}

.m-item.w7 {
	width: 956px;
}

.m-item.w8,.m-item.wf {
	width: 1094px;
}

.m-item.header {
	font-size: 1.4em;
	font-weight: 400;
	padding: 10px;
}

.m-item.skip-1 {
	margin-left: 138px;
}

.m-item.skip-2 {
	margin-left: 276px;
}

.m-item.skip-3 {
	margin-left: 414px;
}

.m-item.skip-1-top {
	margin-top: 40px;
}

.m-item .fulltext {
	font-size: 3em;
	line-height: 108px;
	font-weight: 100;
	padding: 10px;
	margin: 0;
}
/*
 * MASONRY OVERRIDE
 */
.m-item.button {
	cursor: pointer;
}

.m-item.button>div {
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	padding-top: 107px;
	padding-left: 5px;
}

.m-item.profile {
	width: 266px;
	cursor: pointer;
}

.m-item.profile img {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 10px;
	vertical-align: middle;
}

.m-item.profile h3 {
	vertical-align: middle;
	font-size: 1.4em;
	display: inline-block;
	width: calc(100% - 120px);
}

.m-item.profile .message-area {
	font-size: 1.1em;
	height: calc(100% - 120px);
	display: none;
	background: url(../img/o-FFFFFF-0.5.png);
	padding: 10px;
	color: #000;
	border-top: 1px solid #000;
}

.m-item.logo {
	-webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.m-item.logo>div {
	text-align: center;
	letter-spacing: 10px;
}

.m-item.groups>div {
	background-image: url(../img/icon-groups.png);
}

.m-item.persons>div {
	background-image: url(../img/icon-persons.png);
}

.m-item.settings>div {
	background-image: url(../img/icon-settings.png);
}

.m-item.logout>div {
	background-image: url(../img/icon-logout.png);
}
.m-item.pictures>div {
	background-image: url(../img/icon-pictures.png);
}
.m-item.videos>div {
	background-image: url(../img/icon-videos.png);
}
/*
 * MESSAGES
 */
.message-area .messages .me {
}

.message-area .messages .them {
}

/*
 * EFFECTS
 */
.m-item .overlay {
	width: 100%;
	height: 100%;
	padding: 4px;
	background: url(../img/o-000000-0.5.png) repeat;
}

.full-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/o-000000-0.5.png);
}

.send-message .text-area textarea {
	color: #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	height: 200px;
	width: 100%;
	border: #999 1px solid;
}

.send-message textarea:focus {
	outline: none;
	border: #35a5e5 1px solid;
}