/*
 * GENERAL STUFF
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	border: 0;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	word-wrap: break-word;
	font-family: 'Myriad Set Pro', sans-serif;
	font-size: 1em;
}

body {
	font-size: 90%;
}

.content {
	width: 1094px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.content>.slider {
	position: relative;
	top: 0px;
	left: 0px;
	width: 10000px;
}

.content>.slider .slider-tab {
	float: left;
	width: 1114px;
}

.m-item>.slider {
	position: relative;
	top: 0px;
	left: 0px;
	width: 10000px;
}

.m-item>.slider .slider-tab {
	float: left;
	width: 1094px;
	padding: 10px;
}

.data {
	display: none;
}

.round {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
}

.margin {
	margin: 10px;
}

.loader {
	background: url(../img/o-000000-0.5.png);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 10px auto;
	padding: 10px 10px 7px 10px;
	width: 68px;
}

.loader-target {
	margin-left: -10px;
}

.clickTarget {
	cursor: pointer;
}

/*
 * MASONRY GENERAL
 */
.m-item {
	width: 128px;
	margin-bottom: 10px;
	overflow: hidden;
}

.m-item.square {
	height: 128px;
}

.m-item.w2 {
	width: 266px;
}

.m-item.w4 {
	width: 542px;
}

.m-item.w6 {
	width: 818px;
}

.m-item.w7 {
	width: 956px;
}

.m-item.w8,.m-item.wf {
	width: 1094px;
}

.m-item.h0 {
	height: 0px;
}

.m-item.header {
	font-size: 2em;
	font-weight: 200;
	line-height: 3.1em;
	background-repeat: no-repeat;
	background-position: 20px 50%;
}

.m-item.skip-1 {
	margin-left: 138px;
}

.m-item.skip-2 {
	margin-left: 276px;
}

.m-item.skip-3 {
	margin-left: 414px;
}

.m-item.skip-1-top {
	margin-top: 40px;
}

.m-item .fulltext {
	font-size: 3em;
	line-height: 108px;
	font-weight: 100;
	padding: 10px;
	margin: 0;
}

.m-item>.slider .header {
	font-size: 1.2em;
	font-weight: 400;
	padding: 10px;
	background: url(../img/o-000000-0.3.png);
}
/*
 * MASONRY OVERRIDE
 */
.m-item.button {
	cursor: pointer;
}

.m-item.button>div {
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	padding-top: 107px;
	padding-left: 5px;
}

.m-item.profile {
	width: 266px;
}

.m-item.profile img {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 10px;
	vertical-align: middle;
}

.m-item.profile h3 {
	vertical-align: middle;
	font-size: 1.4em;
	display: inline-block;
	width: calc(100% -   124px);
}

.m-item.logo {
	-webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.m-item.logo>div {
	text-align: center;
	letter-spacing: 10px;
}

.m-item.groups>div,.m-item.members>div {
	background-image: url(../img/icon-groups.png);
}

.m-item.header-groups {
	background-image: url(../img/icon-groups.png);
	padding-left: 135px;
}

.m-item.persons>div {
	background-image: url(../img/icon-persons.png);
}

.m-item.header-persons {
	background-image: url(../img/icon-persons.png);
	padding-left: 100px;
}

.m-item.settings>div {
	background-image: url(../img/icon-settings.png);
}

.m-item.logout>div {
	background-image: url(../img/icon-logout.png);
}

.m-item.pictures>div {
	background-image: url(../img/icon-pictures.png);
}

.m-item.videos>div {
	background-image: url(../img/icon-videos.png);
}

.m-item.documents>div {
	background-image: url(../img/icon-documents.png);
}

.scroll-y {
	overflow-y: scroll !important;
}

.loader-target>.profile {
	width: 261px;
	display: inline-block;
	margin: 10px 0 0 10px;
	cursor: auto;
}

/*
 * MESSAGES
 */
.m-item.profile .message-area {
	font-size: 1.1em;
	height: calc(100% - 120px);
	display: none;
	background: url(../img/o-FFFFFF-0.5.png);
	color: #000;
	border-top: 1px solid #999;
	width: 100%;
}

.message-area .messages {
	overflow: scroll;
	height: calc(100% - 64px);
	padding-left: 10px;
}

.message-area .messages > div {
	padding-top: 10px;
}

.message-area .messages > div > div {
	float: left;
}

.message-area .messages .me,.message-area .messages .them {
	width: 42px;
	height: 32px;
}

.message-area .messages .me .profile,.message-area .messages .them .profile {
	width: 32px;
	height: 32px;
	background-size: 32px;
}

.message-area .messages .me {
	background-image: url(../img/arrow-left.png);
	background-repeat: no-repeat;
	background-position: right 10px;
}

.message-area .messages .text {
	width: calc(100% - 52px);
	background-color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
}

.message-area .messages .text .name {
	font-weight: 700;
	margin-bottom: 5px;
}

.message-area .messages .text .name .time {
	color: #CCC;
	margin-left: 20px;
}

.message-area .send-area {
	height: 64px;
}

/*
 * EFFECTS
 */
.m-item .overlay {
	width: 100%;
	height: 100%;
	padding: 4px;
	background: url(../img/o-000000-0.5.png) repeat;
}

.full-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/o-000000-0.5.png);
}

/*
 * BOXES
 */
.info,.success,.error,.warning,.tip,.secure,.message,.download,.purchase,.print {
	margin: 20px 50px;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.info h4,.success h4,.error h4,.warning h4,.tip h4,.secure h4,.message h4,.download h4,.purchase h4,.print h4 {
	margin: 5px 5px 5px 80px;
	padding: 0;
	font-size: 1.4em;
}

.info p,.success p,.error p,.warning p,.tip p,.secure p,.message p,.download p,.purchase p,.print p {
	font-size: 1.2em;
	color: #000;
	margin: 5px 5px 5px 80px;
}

.info {
	border: 1px solid #0e7fad;
	color: #0e7fad;
	background: #c0e9fa url('../img/info-info.png') no-repeat;
	background-position: 30px 20px;
}

.success {
	border: 1px solid #4f8746;
	color: #4f8746;
	background: #d4ffcd url('../img/info-success.png') no-repeat;
	background-position: 30px 20px;
}

.error {
	border: 1px solid #641f1a;
	color: #641f1a;
	background: #ffd2d4 url('../img/info-error.png') no-repeat;
	background-position: 30px 20px;
}

.warning {
	border: 1px solid #9d9c49;
	color: #9d9c49;
	background: #fdfdcb url('../img/info-warning.png') no-repeat;
	background-position: 30px 20px;
}

.tip {
	border: 1px solid #c77d10;
	color: #c77d10;
	background: #f9d69e url('../img/info-tip.png') no-repeat;
	background-position: 30px 20px;
}

.secure {
	border: 1px solid #9638f1;
	color: #9638f1;
	background: #e5cefc url('../img/info-secure.png') no-repeat;
	background-position: 30px 20px;
}

.message {
	border: 1px solid #000;
	color: #000;
	background: #efefef url('../img/info-message.png') no-repeat;
	background-position: 30px 20px;
}

.download {
	border: 1px solid #04b5eb;
	color: #04b5eb;
	background: #f7f7f7 url('../img/info-download.png') no-repeat;
	background-position: 30px 20px;
}

.purchase {
	border: 1px solid #426164;
	color: #426164;
	background: #c2e1e3 url('../img/info-purchase.png') no-repeat;
	background-position: 30px 20px;
}

.print {
	border: 1px solid #3c4b5e;
	color: #3c4b5e;
	background: #c8d9e3 url('../img/info-print.png') no-repeat;
	background-position: 30px 20px;
}

/*
 * SEARCH
 */
.cf:before,.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

.form-wrapper {
	float: right;
	padding: 25px 15px;
	background: #444;
	background: rgba(0, 0, 0, .2);
}

.form-wrapper input {
	height: 20px;
	padding: 10px 5px;
	float: left;
	border: 0;
	background: #eee;
	font-size: 0.5em;
}

.search-default {
	width: 364px;
	border-radius: 3px 3px 3px 3px;
}

.search-edited {
	width: 254px;
	border-radius: 3px 0 0 3px !important
}

.form-wrapper input:focus {
	outline: 0;
	background: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.form-wrapper input:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.form-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 110px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	font-size: 0.6em;
	display: none;
}

.form-wrapper button:before {
	content: '';
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	top: 12px;
	left: -6px;
}

.form-wrapper button:hover:before {
	border-right-color: #e54040;
}

.form-wrapper button:focus:before,.form-wrapper button:active:before {
	border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner {
	border: 0;
	padding: 0;
}