.color-1-0 { background-color: #0e83cd; }
.color-1-2 { background-color: #226fbe; }

.color-2-0 { background-color: #9e54bd; }
.color-2-1 { background-color: #823aa0; }

.color-3-0 { background-color: #2ecc71; }
.color-3-1 { background-color: #17954c; }
.color-3-2 { background-color: #24b662; }

.color-4-0 { background-color: #fcd04b; }
.color-4-1 { background-color: #fcad26; }

.color-5-0 { background-color: #f06060; }
