html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	border: 0;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	word-wrap: break-word;
	font-family: 'Myriad Set Pro', sans-serif;
	font-size: 1em;
}

body {
	font-size: 90%;
}


.content {
	width: 956px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.content .slider {
	position: relative;
	top: 0px;
	left: 0px;
	width: 10000px;
}

.content .slider .slider-tab {
	float: left;
	width: 976px;
}

.action-slide {
	cursor: pointer;
}

.data {
	display: none;
}

.m-item {
	width: 128px;
	height: 128px;
	margin-bottom: 10px;
	overflow: hidden;
}

.m-item.w2 {
	width: 266px;
}

.m-item.w7 {
	width: 956px;
}

.m-item.no-square {
	height: auto;
}

.m-item.header {
	font-size: 1.4em;
	font-weight: 400;
	padding: 10px;
}

.m-item.skip-1 {
	margin-left: 138px;
}

.m-item.skip-2 {
	margin-left: 276px;
}

.m-item.skip-1-top {
	margin-top: 40px;
}

.m-item>div {
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.m-item.logo {
	-webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.m-item>div {
	padding-top: 107px;
	padding-left: 5px;
}

.m-item.logo>div {
	text-align: center;
	letter-spacing: 10px;
}

.m-item.groups>div {
	background-image: url(../img/icon-groups.png);
}

.m-item.persons>div {
	background-image: url(../img/icon-persons.png);
}

.m-item.settings>div {
	background-image: url(../img/icon-settings.png);
}

.m-item.logout>div {
	background-image: url(../img/icon-logout.png);
}

.m-item .overlay {
	width: 100%;
	height: 100%;
	padding: 4px;
	background: url(../img/o-000000-0.5.png) repeat;
	position: relative;
	top: 105px;
}

.m-item .overlay .name {
	height: 1.2em;
	overflow: hidden;
	white-space: nowrap;
}

.m-item .overlay .actions {
	margin-top: 20px;
	text-align: center;
}

.m-item .overlay .actions span {
	display: inline-block;
	width: 42px;
	height: 42px;
	cursor: pointer;
	background-position: 0 -42px;
	background-repeat: no-repeat;
}

.m-item .overlay .actions span:hover {
	background-position: 0 0;
}

.m-item .overlay .actions .action-send {
	background-image: url("../img/icon-action-send.png");
}

.m-item .group {
}

.m-item .nopad {
	font-size: 3em;
	line-height: 108px;
	font-weight: 100;
	padding: 10px;
	margin: 0;
}

.m-item.profile {
	border: 1px solid #FFF;
}

.full-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/o-000000-0.5.png);
}

.send-message {
	width: 760px;
	height: 560px;
	margin: 100px auto;
	background-color: #FFF;
	color: #000;
	overflow: hidden;
}

.send-message .s-l {
	float: left;
	width: 220px;
	border-right: #999 1px solid;
	height: 100%;
}

.send-message .s-r {
	float: left;
	width: 540px;
	display: table;
	height: 100%;
}

.send-message .s-r>div {
	display: table-row;
}

.send-message .s.r>div>div {
	display: table-cell;
}

.send-message .profile-name {
	font-size: 1.5em;
	margin-bottom: 30px;
	padding: 10px 20px;
	color: #FFF;
}

.send-message .profile-pic {
	width: 80px;
	height: 80px;
	background-size: 80px;
	background-position: center center;
	background-repeat: no-repeat;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: auto;
}

.send-message .toolbar {
	height: 68px;
	text-align: right;
}

.send-message .toolbar>img {
	margin: 10px 20px 0 0;
	cursor: pointer;
}

.send-message .message-area {
	overflow: scroll;
}

.send-message .text-area textarea {
	color: #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	height: 200px;
	width: 100%;
	border: #999 1px solid;
}

.send-message textarea:focus {
	outline: none;
	border: #35a5e5 1px solid;
}