html {
	color: #FFF;
}

body  {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(28, 29, 29, 1.0)), color-stop(100%, rgba(28, 29, 29, 0.5)));
	background-attachment: fixed;
	background-size: cover;
}

/*body {
	background-image: url();
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #000000;
	background-attachment: fixed;
	background-size: cover;
}*/

.m-item {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/ Pgo8c3ZnIHhtbG5zPSJ…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.2)));
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33ffffff', GradientType=1);
}
